include README.md
include LICENSE
include CONTRIBUTING.md
include CHANGELOG.md
include requirements.txt
include massgen/configs/*
include .env.example
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .gitignore
exclude massgen_logs/*